.pageLogin {
  background-color: rgb(92, 209, 255);
  min-height: 100vh;
}
.textHead {
  color: rgb(0, 9, 92);
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
}
.ip1 {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.textLabel {
  font-size: 20px;
}
.bt1 {
  width: 400px !important;
}
.formIP {
  text-align: start;
  margin-left: 330px;
}
.message {
  color: red;
  font-size: 15px;
  margin: 0px;
}
