.pageLogin {
  background-color: rgb(92, 209, 255);
  min-height: 100vh;
}
.textHead {
  color: rgb(0, 9, 92);
  letter-spacing: 3px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
}
.ip1 {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.textLabel {
  font-size: 20px;
}
.bt1 {
  background-color: rgb(23, 107, 202);
  margin-top: 20px !important;
  width: 400px !important;
  height: 40px !important;
  border: none;
}
.bt5 {
  color: rgb(87, 87, 87);
  background-color: rgb(255, 253, 153);
  margin-top: 20px !important;
  width: 400px !important;
  height: 40px !important;
  border: none;
}
.bt5:hover {
  color: rgb(87, 87, 87);
  background-color: rgb(241, 241, 241);
  border: none;
}
.formIP {
  text-align: start;
  margin-left: 330px;
}
.message {
  color: red;
  font-size: 15px;
  margin: 0px;
}
.googleAuth {
  width: 400px;
  height: 40px;
}

@media only screen and (max-width: 480px) {
  .textHead {
    font-size: 25px;
    margin-top: 100px;
  }
  .ip1 {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .textLabel {
    font-size: 15px;
  }
  .bt1 {
    margin-top: 20px !important;
    width: 250px !important;
    height: 40px !important;
  }
  .bt5 {
    margin-top: 20px !important;
    width: 250px !important;
    height: 40px !important;
  }
  .formIP {
    margin-left: 20px;
  }
  .message {
    font-size: 12px;
  }
  .googleAuth {
    width: 250px;
    height: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .formIP {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .formIP {
    margin-left: 330px;
  }
}
