.pageWel {
  background-color: rgb(87, 250, 196);
  min-height: 100vh;
  padding-top: 20px;
}
.textWel {
  font-size: 50px;
  color: rgb(0, 49, 92);
  font-weight: bolder;
  text-align: center;
}
.pic {
  width: 100%;
  height: 150px;
}